body {
    font-family: "Raleway", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 15px;
    margin: 0;
    padding: 0;  line-height: 2;
    color: #444;
    background: #d2edfa;
}

.clear {
    clear: both;
}

.mesage_error {
    color: #cc0000;
}

.success_message {
    color: green;
}   

.block_for_messages {
    text-align: center;
}  
//////////////////////////////////

#header {
      
}

#header h2{
  font-size: 24pt;
  text-align: center;
}

#header a{
  float: left;
  margin-left: 8px;  
}
#auth_block, #person_block{
  float: right;	
	overflow: hidden; 
}
#auth_block a, #person_block a{
	text-decoration: none;
}
#auth_block a:hover, #person_block a:hover{
  text-decoration: underline;
}

#main, #link_info, #person_area, #link_logout, #link_register, 
#link_auth, #person_info, #course_on, #course_new, #member, #take_order, 
#economic, #administration, #look_order, #make_order{
    border: 1px solid black;
    text-align: center; 
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 5px;
    padding: 15px; 
    line-height: 20px;
    float: left;           
    overflow: auto;
}

#content {
    margin-left: 15px;
    margin-right: 15px;
}

#form_register, #form_auth{
    width: 230px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}                                   


footer{
  text-align: center;
    position: relative;
    left: 0; bottom: 0;
    width: 100%;
} 